    Theme Name: Reykjavik Child Template: reykjavik Author: DoZenIdeas Version: 1.0.0 License: GNU General Public License v3 License URI: https: //www.gnu.org/licenses/gpl-3.0.html
    Requires at least: 4.7 Tested up to: 5.5 Requires PHP: 7.0 .intro-special {
        padding: 5% 0;
    }
    
    #intro-container {}
    
    .intro-special-has-media .h1 {
        visibility: hidden;
    }
    
    .intro-inner {
        max-width: 60rem;
    }
    
    .has-blocks .content-area,
    .wp-block-group__inner-container {
        max-width: 60rem;
    }
    
    .dzd_clearer {
        clear: both !important;
    }
    
    .grunion-field-name-wrap,
    .grunion-field-email-wrap {
        display: block;
        height: max-content;
    }
    
    .site-content-inner {
        padding-top: 6.0rem;
        padding-bottom: 3.0rem;
    }
    
    .site .has-background {
        padding-top: 4.0rem;
        padding-bottom: 2.rem;
    }
    
    .align-wrap {
        padding-top: 4.0rem;
    }
    
    .wp-block-jetpack-address a {
        padding-left: 2em;
        margin-top: -1.6em;
        display: block;
    }
    
    .jetpack-business-hours {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    .jetpack-business-hours:before {
        display: none !important;
        visibility: none;
    }
    
    .jetpack-business-hours__item:first-child,
    .jetpack-business-hours__item:nth-child(2) {}
    
    .jetpack-business-hours__item dt {
        grid-column-start: 0;
    }
    
    .jetpack-business-hours__item dd {
        grid-column-start: 2;
    }
    
    .intro-special {
        position: relative;
        padding: 5% 0;
        background-size: cover;
        background-position: 50% 19%;
        overflow: hidden;
    }
    /* Specific IDs */
    
    #contact-form-25 input,
    #contact-form-25 textarea,
    #contact-form-227 input,
    #contact-form-227 textarea {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 6px;
    }
    
    #contact-form-25 h2,
    #contact-form-227 h2 {
        display: inline;
        width: 100%;
    }
    /* Changed Theme Classes */
    /*
    @media (min-width: 782px) {
        .wp-block-columns {
            flex-wrap: nowrap !important;
        }
    }
    
    .wp-block-columns {
        display: flex !important;
    } */
    /* Menüstyles */
    
    @media (min-width: 880px) {
        nav#site-navigation {
            margin-left: 250px;
        }
        ul#menu-footermenue li {
            display: inline !important;
            padding-right: 25px !important;
            border-top: 0px !important;
        }
    }